<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <h2 class="title">Зв'яжіться з нами</h2>



            <div class="footer__info">
                <div class="footer__descr">
                    Залишіть свій номер телефону і ми обов'язково вам передзвонимо!
                </div>

                <form class="form" action="#">
                    <input class="form__input" name="phone" required placeholder="Номер телефону" type="number" />
                    <button class="button form__btn" type="submit">
                        Відправити
                    </button>
                </form>
            </div>

        </div>
    </div>
</footer>
</div>
<script type="module" src="../js/main.min.js"></script>
</body>

</html>