<!DOCTYPE html>
<html lang="uk-UA">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IQUIZ MS</title>
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__wrapper">
                    <div class="header__info">

                        <a href="#" class="header__logo">
                            <picture>
                                <source type="image/avif" srcset="images/header/logo.avif" title="logo" />
                                <source type="image/webp" srcset="images/header/logo.webp" title="logo" />
                                <img class="header__icon" src="images/header/logo.png" alt="logo" title="logo"
                                    loading="lazy" width="104" height="125">
                            </picture>

                            <div class="header__title-logo">IQUIZ:</div>
                        </a>

                        <h1 class="header__title">
                            Допомагаємо отримати нові заявки
                        </h1>

                        <p class="header__subtitle">
                            Почніть використовувати квізи на сайті та в соціальних мережах та отримайте додатковий дохід
                        </p>

                        <button data-modal class="button">
                            Дізнатись детальніше
                        </button>
                    </div>

                </div>
            </div>
        </header>