<div class="modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div data-close class="modal__close" >&times;</div>
            <div class="modal__title">Title</div>
            <div class="modal__info">
                <p>
                    Lorem ipsum dolor sit amet consectetur. Mauris varius tempus platea rhoncus amet cursus
                    donec. At commodo tristique risus sapien aliquam commodo eu in. Lacus lorem dolor ac a fusce
                    scelerisque eget egestas lorem. Diam gravida interdum habitant sit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Mauris varius tempus platea rhoncus amet cursus
                    donec. At commodo tristique risus sapien aliquam commodo eu in. Lacus lorem dolor ac a fusce
                    scelerisque eget egestas lorem. Diam gravida interdum habitant sit.
                </p>
            </div>
        </div>
    </div>
</div>