.quiztest {
    text-align: center;
    padding-top: 124px;
    min-height: 1080px;

    background: url("../../images/quiztest/quiztest_bg.avif") 0 0 no-repeat,
        url("../../images/quiztest/quiztest_bg.webp") 0 0 no-repeat,
        url("../../images/quiztest/quiztest_bg.png") 0 0 no-repeat;

    background-position: right 25%;
    background-size: auto;

    &__info {
        padding: 40px 10px;
        font-size: 20px;
        line-height: 28px;
    }

    &__container {
        max-width: 1320px;
        overflow: hidden;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__item {
        width: 24%;
        padding: 25px;
        border: 1px solid #dfdede;
        background-color: #fff;
        border-radius: 20px;
        transition: 0.1s all;
        cursor: pointer;

        &:hover {
            transform: translateY(-15px);
        }
    }

    &__icon {
        max-width: 340px;
        width: 100%;
        border-radius: 10px;

        img {
            width: 100%;
        }
    }

    .subheading {
        margin-top: 24px;
        text-align: left;
    }

    &__descr {
        margin-top: 35px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: #515151;
    }


}